In [1]:
!python --version

Python 3.9.5

In [2]:
from kb_python.utils import import_matrix_as_anndata

In [3]:
adata = import_matrix_as_anndata("./kb_out/genes.mtx", "./kb_out/genes.barcodes.txt", "./kb_out/genes.genes.txt")

In [4]:
adata

AnnData object with n_obs × n_vars = 1266268 × 33538

In [8]:
adata.X[0:2].todense().shape

(2, 33538)

In [11]:
adata.X.sum(axis=1).shape

(1266268, 1)

In [13]:
adata.obs["sum_counts"] = adata.X.sum(axis=1)

In [14]:
adata.obs

                  sum_counts
barcode
AAACCCAAGAAACACT         1.0
AAACCCAAGAAACCAT         1.0
AAACCCAAGAAACCCG         1.0
AAACCCAAGAAACTAC         1.0
AAACCCAAGAAACTCA        73.0
...                      ...
TTTGTTGTCTTGGATG         1.0
TTTGTTGTCTTGGTCC         1.0
TTTGTTGTCTTTACAC         1.0
TTTGTTGTCTTTGCGC        20.0
TTTGTTGTCTTTGCTA         1.0

[1266268 rows x 1 columns]

In [18]:
new_adata = adata[(adata.obs.sum_counts>10).values]

In [19]:
new_adata

View of AnnData object with n_obs × n_vars = 114924 × 33538
    obs: 'sum_counts'