<a href="https://colab.research.google.com/github/sbooeshaghi/groupmeeting/blob/master/groupmeeting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/sbooeshaghi/groupmeeting.git

Cloning into 'groupmeeting'...
remote: Enumerating objects: 10, done.
remote: Counting objects: 100% (10/10), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 10 (delta 0), reused 10 (delta 0), pack-reused 0
Unpacking objects: 100% (10/10), done.

In [2]:
!gunzip /content/groupmeeting/kb_out/*.gz

In [4]:
!cat /content/groupmeeting/kb_out/xaa /content/groupmeeting/kb_out/xab > /content/groupmeeting/kb_out/matrix.mtx

In [5]:
!python --version

Python 3.7.10

In [8]:
!pip install --quiet kb-python

     |████████████████████████████████| 133kB 32.7MB/s
     |████████████████████████████████| 51kB 5.4MB/s
     |████████████████████████████████| 51.7MB 49kB/s
     |████████████████████████████████| 19.1MB 166kB/s
     |████████████████████████████████| 10.3MB 18.7MB/s
     |████████████████████████████████| 112kB 45.2MB/s
     |████████████████████████████████| 9.9MB 18.6MB/s
     |████████████████████████████████| 276kB 47.3MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
     |████████████████████████████████| 81kB 10.3MB/s
     |████████████████████████████████| 1.2MB 33.7MB/s
     |████████████████████████████████| 71kB 8.9MB/s
  Building wheel for pyseq-align (PEP 517) ... done
  Building wheel for kb-python (setup.py) ... done
  Building wheel for loompy (setup.py) ... done
  Building wheel for ngs-tools (setup.py) ... done
  Building wheel for numpy-groupies (setup.py) ... done
  Building wheel for umap-learn (setup.py) ... done
  Building wheel for sinfo (setup.py) ... done
  Building wheel for pynndescent (setup.py) ... done
ERROR: ngs-tools 1.4.0 has requirement numba>=0.53.1, but you'll have numba 0.51.2 which is incompatible.
ERROR: ngs-tools 1.4.0 has requirement tqdm>=4.50.0, but you'll have tqdm 4.41.1 which is incompatible.

In [10]:
from kb_python.utils import import_matrix_as_anndata

In [11]:
adata = import_matrix_as_anndata("/content/groupmeeting/kb_out/matrix.mtx", "/content/groupmeeting/kb_out/genes.barcodes.txt", "/content/groupmeeting/kb_out/genes.genes.txt")

In [12]:
adata

AnnData object with n_obs × n_vars = 1266268 × 33538

In [13]:
adata.X[0:2].todense().shape

(2, 33538)

In [14]:
adata.X.sum(axis=1).shape

(1266268, 1)

In [15]:
adata.obs["sum_counts"] = adata.X.sum(axis=1)

In [16]:
adata.obs

                  sum_counts
barcode
AAACCCAAGAAACACT         1.0
AAACCCAAGAAACCAT         1.0
AAACCCAAGAAACCCG         1.0
AAACCCAAGAAACTAC         1.0
AAACCCAAGAAACTCA        73.0
...                      ...
TTTGTTGTCTTGGATG         1.0
TTTGTTGTCTTGGTCC         1.0
TTTGTTGTCTTTACAC         1.0
TTTGTTGTCTTTGCGC        20.0
TTTGTTGTCTTTGCTA         1.0

[1266268 rows x 1 columns]

In [ ]:
new_adata = adata[(adata.obs.sum_counts>10).values]

In [ ]:
new_adata

View of AnnData object with n_obs × n_vars = 114924 × 33538
    obs: 'sum_counts'